@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json.Schema;

@{
    Layout = null;
}

<!-- Page Heading -->
<div class="row" style="height:600px">
    <div class="col-lg-12">
        <h1 class="page-header">
            <!-- Title of page -->
            Publicaciones
            
            <small>
                <!-- SubTitle of page -->
            </small>
        </h1>

        <h3>
          
        </h3>
        @*<ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Blank Page
                </li>
            </ol>*@
    </div>
</div>
