@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json.Schema;
@using System.Linq;

@{
        Layout = "/views/Shared/_LayoutUser.cshtml";
    }

<!-- Page Heading -->
<div  id="asd">
    @*<div class="col-lg-12" id="asd">*@
        <h1 class="page-header" >
            <!-- Title of page -->
            MProject
            
            <small>
                <!-- SubTitle of page -->
            </small>
        </h1>

        <h3>
          
        </h3>
        @*<ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Blank Page
                </li>
            </ol>*@
    @*@*</div>*@
</div>

